<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="javaBean" class="com.gyz.po.JavaBean" />
	<bean id="duke" class="com.gyz.po.Juggler">
		<constructor-arg value="15" />
	</bean>
	<bean id="loginService" class="com.gyz.service.LoginService">
	</bean>

</beans>